{% extends 'base.html.twig' %}

{% block title %}La liste des salariés !
{% endblock %}

{% block body %}
	<a href="{{path('salarie_add')}}">Ajouter un salarié</a>
	{% if salaries|length > 0 %}
		<h2>Liste des salariés</h2>
		{% for salarie in salaries %}
			<div>
				<a href="{{ path('salarie_show', {'id': salarie.id}) }}">Salarié
					{{ salarie.id }}</a>
				<div>Nom :
					{{ salarie.nom }}</div>
				<div>Prenom :
					{{ salarie.prenom }}</div>
				<div>Date :
					{{ salarie.dateNaissance | date("d/m/Y") }}</div>
				<div>Adresse :
					{{ salarie.adresse }}</div>
				<div>Cp :
					{{ salarie.cp }}</div>
				<div>Ville :
					{{ salarie.ville }}</div>
				<div>Date Embauche :
					{{ salarie.dateEmbauche | date("d/m/Y") }}</div>
				<div>Entreprise :
					{{ salarie.entreprise }}</div>
				{# {{ salarie.entreprise.raisonSociale }}</div> #}
				<a href="{{ path('salarie_edit', {'id': salarie.id} )}}">Modifier</a>
				<div>____________</div>


			</div>
		{% endfor %}

	{% else %}
		Il n'y a pas de salariés en base ! :(
	{% endif %}

{% endblock %}
