{% extends 'base.html.twig' %}

{% block title %}Le salarie {{ salarie.prenom }} {{ salarie.nom }} !{% endblock %}

{% block body %}

  <h2>
    Vous êtes sur la page du détail du salarié {{ salarie.prenom }} {{ salarie.nom }}.
  </h2>

  {% if salarie.cp is not null %}
    <div>Le CP est {{ salarie.cp }}</div>
  {% endif %}


{% endblock %}