{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}  
	<h1>Bienvenue à l'accueil !</h1>
  <a href="{{ path('app_salaries') }}">Voir les salariés</a>
  <a href="{{ path('app_entreprises') }}">Voir les entreprises</a>
{% endblock %}