{% extends 'base.html.twig' %}

{% block title %}La liste des entreprises !
{% endblock %}

{% block body %}
	{% if entreprises|length > 0 %}
		<h2>Liste des entreprises</h2>
		{% for entreprise in entreprises %}
			{# {{ dump(entreprise) }} #}
			<div>
				<a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">Entreprise
					{{ entreprise.id }}</a>
				<div>Raison Sociale :
					{{ entreprise.raisonSociale }}</div>
				<div>Siret :
					{{ entreprise.siret }}</div>
				<div>Adresse :
					{{ entreprise.adresse }}</div>
				<div>CP :
					{{ entreprise.cp }}</div>
				<div>Ville:
					{{ entreprise.ville}}</div>
				<div>____________</div>
			</div>
			{# {% for salarie in entreprise.salaries %}
				<div>{{ salarie.nom }}</div>
			{% endfor %} #}
		{% endfor %}

        <div>_____________________________________</div>

	{% else %}
		Il n'y a pas d'entreprises en base ! :(
	{% endif %}

{% endblock %}
