{% extends 'base.html.twig' %}

{% block title %}L'entreprise
	{{ entreprise.raisonSociale }}
	!
{% endblock %}

{% block body %}

	<h2>
		Vous êtes sur la page du détail de l'entreprise
		{{ entreprise.raisonSociale }}.
	</h2>

	{% if entreprise.cp is not null %}
		<div>Le CP est
			{{ entreprise.cp }}</div>
	{% endif %}

	<h4>Les salariés :</h4>
	{% for salarie in entreprise.salaries %}
		<div>{{ salarie.nom }} {{ salarie.prenom }}</div>
	{% endfor %}


{% endblock %}
